@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}
h1{
    color: #fff;
}

.button{
  font-weight: bold;
  font-size: 20px;
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(160, 243, 243);
}

.row{
  margin: 8px 0;
}
.input{
    padding: 20px;
    text-align: end;

}
.row input{
  width: 250px;
  font-size: 20px;
    margin: 0;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius:20px;
}
.button:hover{
    color: #fff;
    background-color: rgb(78, 199, 243);
    box-shadow: 0px 0px 5px 5px yellow;
    font-weight: bold;

}
.text-center{
  text-align: center;
}



.mx-auto{
  margin: auto;
}

.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}
.page{
  background-image:url(/back.jpg) ;
  background-size: cover;
}